

body{
    background: #1E212B;
}

.title_div{

    background: #0496FF;
    text-align: center;
    font-style: italic;
}

.spacing_div{
    background: #7E6B8F;
}

.buttons_div{
    background: #FF0035;
}

.tab-content{
    background: #9AD5CA;
    height: 720px;
}

.display-5{
    text-align: center;
}


p{
    text-align: center;
}
