

body{
    background: #1E212B;
}

.title_div{

    background: #0496FF;
    text-align: center;
    font-style: italic;
}

.spacing_div{
    background: #7E6B8F;
}

.buttons_div{
    background: #FF0035;
}

.tab-content{
    background: #9AD5CA;
    height: 720px;
}

.display-5{
    text-align: center;
}

.searchbar_div{
    background: #1E212B;

}

.confirmation_div{
    background: #BFB1C1;
    color: #FCDC4D;
}

.form_div{
    background: #9AD5CA;
    padding: 15px;
}

label{
    font-weight: bold;
}

.label_text_div{
    background: #9AD5CA;
}

p{
    text-align: center;
}
.results_div{
    background: #9AD5CA;
}


.correction_needed_div{
    background: #FCDC4D;
    color: #1E212B;
}