<table border="1" class="dataframe table" id="datatable">
  <thead class='thead-light'>
    <tr style="text-align: right;">
      <th>DATE</th>
      <th>HOUSE NUMBER</th>
      <th>STREET</th>
      <th>BRAND</th>
      <th>MODEL</th>
      <th>COLOR</th>
      <th>LICENSE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2022-08-14</td>
      <td>14</td>
      <td>Orange St</td>
      <td>Acura</td>
      <td>2.2CL</td>
      <td>Black</td>
      <td>123123</td>
    </tr>
    <tr>
      <td>2022-08-15</td>
      <td>123</td>
      <td>Central Ave</td>
      <td>Mazda</td>
      <td>GLC</td>
      <td>Grey</td>
      <td>AJY2S2</td>
    </tr>
  </tbody>
</table>