<table border="1" class="dataframe table" id="datatable">
  <thead class='thead-light'>
    <tr style="text-align: right;">
      <th>DATE</th>
      <th>HOUSE NUMBER</th>
      <th>STREET</th>
      <th>COLOR</th>
      <th>BRAND</th>
      <th>LICENSE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2022-05-01</td>
      <td>15</td>
      <td>Elizabeth Rd</td>
      <td>Nissan</td>
      <td>Grey</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>2022-05-01</td>
      <td>15</td>
      <td>Elizabeth Rd</td>
      <td>Chevrolet</td>
      <td>Black</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>2022-05-02</td>
      <td>25</td>
      <td>Evergreen Ter</td>
      <td>Chevrolet</td>
      <td>Gold</td>
      <td>ad2 sss</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>15</td>
      <td>Evergreen Terrace</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>42069</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>15</td>
      <td>Evergreen Terrace</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>42069</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>15</td>
      <td>Evergreen Terrace</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>42069</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>15</td>
      <td>Elizabeth</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>3221</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>123</td>
      <td>MAin St</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>JRE4G1</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>17</td>
      <td>Cottage Blvd</td>
      <td>Honda</td>
      <td>Blue</td>
      <td>SEXY12</td>
    </tr>
    <tr>
      <td>2022-08-08</td>
      <td>123</td>
      <td>asd</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>asd</td>
    </tr>
    <tr>
      <td>2022-08-09</td>
      <td>15</td>
      <td>ROGERS ST</td>
      <td>Mercedes-Benz</td>
      <td>Red</td>
      <td>SDK2KK</td>
    </tr>
    <tr>
      <td>2022-08-09</td>
      <td>69</td>
      <td>SEX AVE</td>
      <td>Ford</td>
      <td>Red</td>
      <td>BUTT69</td>
    </tr>
    <tr>
      <td>2022-08-09</td>
      <td>420</td>
      <td>TEST ST</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>42069</td>
    </tr>
    <tr>
      <td>2022-08-09</td>
      <td>15</td>
      <td>Jeffrey Rd</td>
      <td>Toyota</td>
      <td>Black</td>
      <td>SEXXXX</td>
    </tr>
  </tbody>
</table>